.DS_Store
ignore
venv
deps
home_assistant/secrets.yaml
esphome/electricity_pulse_counter/partitions.csv
esphome/garage_doors/partitions.csv
home_assistant/floorplan/floorplan.bak.svg
scripts/sync_to_server.sh
home_assistant/google_calendars.yaml
*.log
.vscode
.idea
