#floorplan  {
  padding: 10px;
}

svg, svg * {
  pointer-events: all !important;
  background-color: var(--primary-background-color);
}

svg tspan {
  fill: var(--primary-text-color);
}

.ha-entity:hover {
  /* home assistant theme blue */
  stroke: #03A9F4 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

.light-on {
  /*fill: var(--button-card-light-color) !important;*/
  fill: var(--paper-item-icon-active-color) !important;
}

/*
https://css-tricks.com/thing-know-gradients-transparent-black/
https://stackoverflow.com/questions/14051351/svg-gradient-using-css
*/

#glowGradient {
  --color-outer: rgb(255, 255, 255) !important;
  --color-inner: var(--paper-item-icon-active-color) !important;
  --opacity: 0.5;
}

stop {
  transition: all 2s !important;
}

.light-off {
  /* grey */
  fill: var(--paper-item-icon-color) !important;
}

.cover-open {
  /* yellow */
  fill: #F9D27C !important;
}

.cover-closed {
  /* grey */
  fill: #A3A3A3 !important;
}

.binary-sensor-on {
  /* yellow */
  fill: #F9D27C !important;
}

.binary-sensor-off {
  /* grey */
  fill: #A3A3A3 !important;
  transition: fill 5s ease;
}