{# https://www.home-assistant.io/docs/configuration/templating/#reusing-templates #}

{#
Convert seconds to a convenient hours and minutes format.

:seconds entity_id_prefix: An entity ID prefix (i.e. including the domain).

:returns: The hours and minutes string, as appropriate for the input.
#}
{%- macro sec_to_hour_and_min(seconds) -%}
  {%- set sec_to_hour_and_min = "" -%}
  {%- if seconds < 60 -%}
    {%- set sec_to_hour_and_min = seconds ~ " sec" -%}
  {%- elif seconds < 60*60 -%}
    {%- set sec_to_hour_and_min = seconds // 60 ~ " min" -%}
  {%- else -%}
    {%- set h = seconds // (60*60) -%}
    {%- set m = min(((seconds / (60*60) - seconds // (60*60)) * 60) | round(0), 59) -%}
    {%- if m < 10 -%}
      {%- set sec_to_hour_and_min = h ~ "h0" ~ m -%}
    {%- else -%}
      {%- set sec_to_hour_and_min = h ~ "h" ~ m -%}
    {%- endif -%}
  {%- endif -%}
  {{ sec_to_hour_and_min }}
{%- endmacro -%}

{#
Get the triggered by details given a context.

:param context: A state object context.

:returns: A tuple where the first element is the method ([physical, system, ui, unknown]) and the second none in the case of a physical or system (script or automation) invocation or the friendly name of the user if it was via the UI.

:seealso: https://community.home-assistant.io/t/work-with-triggered-by-in-automations/400352/8
:seealso: https://community.home-assistant.io/t/is-there-documentation-on-what-context-id-parent-id-and-user-id-mean-in-an-automation/554374
:seealso: https://community.home-assistant.io/t/state-context-to-ui-automation/427861/14
#}
{%- macro get_triggered_by_details(context) -%}
    {%- if context.user_id -%}
        {%- set triggered_by = states.person | selectattr('attributes.user_id','==', context.user_id) | list | first -%}
        {%- set name = state_attr((triggered_by).entity_id, "friendly_name") -%}
        {{ ('ui', name) }}
    {%- elif context.parent_id -%}
        {{ ('system', none) }}
    {%- else -%}
        {{ ('physical', none) }}
    {%- endif -%}
{%- endmacro -%}

{#
Get a list of entity IDs given a list of states.

:param state_list: A list of state values.

:returns: A CSV string that can be split to get a proper list. Jinja's {{ }} outputs text and cannot output a list.

:seealso: https://community.home-assistant.io/t/template-trigger-based-sensors-add-variables/657527/16
#}
{%- macro get_entities_by_state(state_list) -%}
  {%- set exclusions = [
            'sensor.unavailable_entities',
            'number.living_room_ac_fan_speed',
            'select.living_room_ac_vertical_swing_angle',
            'select.living_room_ac_horizontal_swing_angle',
            'sensor.living_room_ac_outdoor_temperature',
            'number.main_bedroom_ac_fan_speed',
            'select.main_bedroom_ac_vertical_swing_angle',
            'select.main_bedroom_ac_horizontal_swing_angle',
            'sensor.main_bedroom_ac_outdoor_temperature',
            'sensor.solar_reserve_percentage_5min_average',
            'sensor.pv_power_5min_average',
            'conversation.home_assistant'] -%}
  {#- buttons and event entities don't have state – we don't care about those here -#}
  {%- set reduced_list = states
            | rejectattr('domain','search','button|event')
            | rejectattr('entity_id', 'in', exclusions)
            | selectattr('state', 'in', state_list)
            | map(attribute='entity_id')
            | join(',') -%}
  {{ reduced_list }}
{%- endmacro -%}

{# Constant map of integrations. #}
{%- set _INTEGRATION_LABELS = {
  'hacs': 'HACS',
  'mqtt': 'MQTT',
  'sql': 'SQL',
  'tplink': 'TP-Link',
  'mobile_app': 'Mobile App',
  'openweathermap': 'OpenWeatherMap',
  'thermal_comfort': 'Thermal Comfort',
  'systemmonitor': 'System Monitor',
  'homekit_controller': 'HomeKit Controller',
  'bluetooth': 'Bluetooth',
  'bthome': 'BTHome',
  'sun2': 'Sun2',
  'waqi': 'WAQI',
  'plex': 'Plex',
  'ping': 'Ping',
  'worldclock': 'World Clock',
  'google_travel_time': 'Google Travel Time',
  'shelly': 'Shelly',
  'hacs': 'HACS'
} -%}

{#
Return the first integration associated with an entity or device.

:param device_or_entity_id: A device or entity ID.

:returns: The integration as a string (lowercase).

:seealso: https://community.home-assistant.io/t/is-there-a-way-to-determine-what-integration-an-entity-belongs-to/247069/8
#}
{%- macro get_integration(device_or_entity_id) -%}

    {%- set raw_integration =
        [device_or_entity_id]
        | map('device_attr', 'identifiers')
        | reject('none')
        | map('list')
        | reject('eq', [])
        | map('first')
        | map('first')
        | first
    -%}

    {%- if not raw_integration -%}
        Derived / Helper
    {%- elif ':' in raw_integration -%}
        {{ labels.get(raw_integration.split(':')[0], raw_integration.split(':')[0] | replace('_', ' ') | title) }}
    {%- else -%}
        {{ _INTEGRATION_LABELS.get(raw_integration, raw_integration | replace('_', ' ') | title) }}
    {%- endif -%}
{%- endmacro -%}
