# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

group: !include groups.yaml
automation: !include automations.yaml
binary_sensor: !include binary_sensors.yaml
sensor: !include sensors.yaml
switch: !include switches.yaml
utility_meter: !include utility_meters.yaml
cover: !include covers.yaml
script: !include scripts.yaml

homeassistant:
  name: Home
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: !secret home_elevation
  unit_system: metric
  time_zone: "Africa/Johannesburg"
  whitelist_external_dirs:
    - /tmp
  customize: !include customize.yaml

logger:
  default: warning

lovelace:
  mode: yaml
  resources:
    - url: /hacsfiles/button-card/button-card.js
      type: module
    - url: /hacsfiles/lovelace-fold-entity-row/fold-entity-row.js
      type: module
    - url: /hacsfiles/mini-graph-card/mini-graph-card-bundle.js
      type: module

frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /local/custom.js

recorder:
  # https://community.home-assistant.io/t/home-assistant-db-size/1198/10?u=parautenbach
  # If you set it for 14 days, then it runs after 14 days of UNINTERRUPTED uptime. If you restart your HA server, then the clock restarts from zero again.
  # delete from events where time_fired < datetime('now','-30 days');
  # delete from states where created < datetime('now', '-30 days');
  # SQLite does not recover the disk space after you have done this, so it is necessary to ‘vacuum’ the database. Simply issue the following command:
  # vacuum;
  auto_purge: true
  purge_keep_days: 2

tts:
  - platform: google_translate

apple_tv:

discovery:

stream:

python_script:
# https://raw.githubusercontent.com/bieniu/ha-shellies-discovery/master/python_scripts/shellies_discovery.py

homekit:
  name: Home Assistant
  filter:
    include_entities:
      - input_boolean.test
      - input_boolean.pieter_present
      - input_boolean.rouve_present
      - input_boolean.guest_mode
      - input_boolean.contractor_mode
      - input_boolean.pieter_driving
      - light.smart_bulb_1
      - light.smart_bulb_2
      - light.smart_bulb_3
      - light.smart_bulb_4
      - switch.smart_plug_1
      - cover.main_gate
      - cover.lhs_garage_door
      - cover.rhs_garage_door

ios:
  push:
    categories:
      - name: Contractor Mode Still Enabled Alert
        identifier: "contractor_mode_still_enabled_alert"
        actions:
          - identifier: "DISABLE_CONTRACTOR_MODE"
            title: "Disable"
      - name: Contractor Mode Enabled
        identifier: "contractor_mode_enabled"
        actions:
          - identifier: "DISABLE_CONTRACTOR_MODE"
            title: "Disable"
      - name: Contractor Mode Disabled
        identifier: "contractor_mode_disabled"
        actions:
          - identifier: "ENABLE_CONTRACTOR_MODE"
            title: "Enable"
      - name: Cover Open
        identifier: "cover_open"
        actions:
          - identifier: "CLOSE_COVER"
            title: "Close now"
          - identifier: "EXTEND_COVER_TIMEOUT_05_MIN"
            title: "Wait 5 min"
          - identifier: "EXTEND_COVER_TIMEOUT_10_MIN"
            title: "Wait 10 min"
      - name: Test
        identifier: 'test'
        actions:
          - identifier: 'TEST'
            title: 'Test Action'

zone:
  - name: Home
    latitude: !secret home_latitude
    longitude: !secret home_longitude
    radius: 22
    icon: mdi:home

camera:
  - platform: ffmpeg
    name: security_camera
    input: -rtsp_transport tcp -i rtsp://localhost:8554/unicast
    extra_arguments: "-vf hue=s=0"
  - platform: local_file
    name: security_camera_last_snapshot
    file_path: /home/homeassistant/.homeassistant/www/camera.security_camera_last.jpg

notify:
  - name: family
    platform: group
    services:
      - service: mobile_app_ceres
      - service: mobile_app_rouve

input_boolean:
  test:
    name: Test
  pieter_present:
    name: Pieter Presence
    icon: mdi:account
  rouve_present:
    name: Rouvé Presence
    icon: mdi:account
  guest_mode:
    name: Guest Mode
    icon: mdi:briefcase
  contractor_mode:
    name: Contractor Mode
    icon: mdi:worker
  pieter_driving:
    name: Pieter Driving
    icon: mdi:car

input_datetime:
  security_camera_last_snapshot:
    has_date: true
    has_time: true

input_number:
  wan_traffic_delta_in:
    min: 0
    max: 4294967295
  wan_traffic_delta_out:
    min: 0
    max: 4294967295

tplink:
  discovery: false
  light:
    - host: 192.168.0.108  # smart bulb 1
    - host: 192.168.0.116  # smart bulb 2
  switch:
    - host: 192.168.0.115  # smart plug 1

light:
  - platform: switch
    name: living_room_lamp
    entity_id: switch.living_room_lamp

shell_command:
  noop: ":"
  copy_last_snapshot_image: "cp `ls -t /tmp/camera.security_camera_*.jpg | head -n1` /home/homeassistant/.homeassistant/www/camera.security_camera_last.jpg"
  # todo: only keep n vids/pics
  copy_snapshots_and_videos_to_gallery: "cp /tmp/camera.security_camera_*.* /home/homeassistant/.homeassistant/www/gallery/"

timer:
  motion_timer:
    duration: "00:05:00"
  main_gate_timer:
    duration: "00:03:00"
  lhs_garage_door_timer:
    duration: "00:03:00"
  rhs_garage_door_timer:
    duration: "00:03:00"
