esphome:
  name: electricity_pulse_counter
  platform: ESP32
  board: esp32doit-devkit-v1

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  power_save_mode: none

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Electricity PC Fallback Hotspot"
    password: !secret fallback_ap_password

captive_portal:

# Enable logging
logger:

# Enable Home Assistant API
api:
  password: !secret home_assistant_api_password

ota:
  password: !secret ota_password

# https://esphome.io/components/sensor/pulse_counter.html
sensor:
  - platform: pulse_counter
    id: electricity_current_energy
    name: "Current Energy"
    # internal pull-up 45k
    pin: 33
    unit_of_measurement: "Wh"
    update_interval: 60s
    accuracy_decimals: 0
  - platform: pulse_counter
    id: electricity_current_power
    name: "Current Power"
    # internal pull-up 45k
    pin: 33
    unit_of_measurement: "W"
    update_interval: 60s
    accuracy_decimals: 0
    filters:
      - multiply: 60

mqtt:
  broker: !secret mqtt_broker
  discovery: True
